# PostgreSQL Database
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=joineazy
PGPORT=5432
PGHOST=localhost

# Backend Application
PORT=5000
NODE_ENV=development
JWT_SECRET=joineazy_super_secret_jwt_key_2026
JWT_EXPIRES_IN=24h
CORS_ORIGIN=http://localhost:3000

# Coursework External Upload Link (Optional seed override)
DEMO_ONEDRIVE_URL=https://1drv.ms/f/c/7d64020dedd5564b/IgB9CyqoBLiUS7H5VlvImPiBAcZQBf5_m-h6tRqQgeOqf28?e=V3lbrg

# Frontend
VITE_API_URL=http://localhost:5000/api
